body {
  background-color: aliceblue;
  background-image: url("https://tinyurl.com/2fy63esf");
}


/* Style the footer */
footer {
  float: center;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.LIKEWHATYOUSEE {
  background-color:blue;
  color: white;
  padding: 10px;
}